@using EPiServer.Core
@using EPiServer.Web
@*Helper used as template for a page in the bread crumb, recursively triggering the rendering of the next page*@
@helper ItemTemplate(HtmlHelpers.MenuItem breadCrumbItem) {
    if (breadCrumbItem.Selected)
    {
        if (breadCrumbItem.Page.HasTemplate() && !breadCrumbItem.Page.ContentLink.CompareToIgnoreWorkID(Model.CurrentPage.ContentLink))
        {
            @Html.PageLink(breadCrumbItem.Page)
        }
        else
        {
            @breadCrumbItem.Page.PageName
        }
        if (!breadCrumbItem.Page.ContentLink.CompareToIgnoreWorkID(Model.CurrentPage.ContentLink))
        {
            <span class="divider">/</span>
            @Html.MenuList(breadCrumbItem.Page.ContentLink, ItemTemplate)
        }
    }
}
<section class="container-fluid sc_breadcrumb_section">
    <div class="container">
        <ul class="sc_breadcrumb">
            <li>
                <a href="/en/">Home</a>
            </li>
            <li>
                <a href="/en/products--services/">Products &amp; Services</a>
            </li>
            <li>
                <a href="/en/products--services/products/">Products</a>
            </li>
            <li>
                <span class="brand-dark-gray">VacuFuse<sup>®</sup> II Self-Resetting Interrupter</span>
            </li>
        </ul>
        <ul class="mobile-sc_breadcrumb"><li class="mobile-chefron"><a href="/en/products--services/products/" class="small"> <span class="fas fa-chevron-left"></span>Products</a></li></ul>
    </div>
</section>

<div class="row hideMyTracks">
    <div class="span12">
        <ul class="alloyBreadcrumb">
            @Html.ContentLink(SiteDefinition.Current.StartPage)
            <span class="divider">/</span>
            @Html.MenuList(SiteDefinition.Current.StartPage, ItemTemplate, requireVisibleInMenu: false, requirePageTemplate: false)
        </ul>
    </div>
</div>
