@using EPiServer.Core
@using EPiServer.Web
@*
    Helper used as template for a page in the bread crumb, recursively triggering the rendering of the next page
    User Experience Improvements
       - label current page
       - label root page
       - label previous page
       - x role of section
       - x order list to reflect page depth
*@
@helper ItemTemplate(HtmlHelpers.MenuItem breadCrumbItem)
{
    if (breadCrumbItem.Selected)
    {
        if (breadCrumbItem.Page.HasTemplate() && !breadCrumbItem.Page.ContentLink.CompareToIgnoreWorkID(Model.CurrentPage.ContentLink))
        {
            @Html.PageLink(breadCrumbItem.Page)
        }
        else
        {
            <li aria-current="page">
                @breadCrumbItem.Page.PageName
            </li>
        }
        if (!breadCrumbItem.Page.ContentLink.CompareToIgnoreWorkID(Model.CurrentPage.ContentLink))
        {
            <li aria-current="page">
                @Html.MenuList(breadCrumbItem.Page.ContentLink, ItemTemplate)
            </li>
        }
    }
}

<nav id="breadcrumb" class="container-fluid sc_breadcrumb_section" aria-label="Breadcrumb">
    <div class="container">
        <ol class="sc_breadcrumb">
            <li aria-label="root">
                @Html.ContentLink(SiteDefinition.Current.StartPage)
            </li>
            @*<li aria-current="page">*@
            @Html.MenuList(SiteDefinition.Current.StartPage, ItemTemplate, requireVisibleInMenu: false, requirePageTemplate: false)
            @*</li>*@
        </ol>
    </div>
</nav>
<div class="row hideMyTracks">
    <div class="span12">
        <ul class="alloyBreadcrumb">
            @Html.ContentLink(SiteDefinition.Current.StartPage)
            <span class="divider">/</span>
            @Html.MenuList(SiteDefinition.Current.StartPage, ItemTemplate, requireVisibleInMenu: false, requirePageTemplate: false)
        </ul>
    </div>
</div>
